services:
  postgres:
    build: ./postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - shared-volumes:/var/lib/postgresql/data
    networks:
      - app-network

  django:
    build: ./django
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - postgres

  react:
    build: ./react
    ports:
      - "3000:3000"
    volumes:
      - './react:/app'
    depends_on:
      - django

volumes:
   shared-volumes:

networks:
  app-network:
    driver: bridge
