.wb-alert-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* position: absolute;
	top: 100%;
	left: 0; */
	margin-top: 0.625rem;
}

.wb-error {
	width: 100%;
	font-size: 1rem;
	padding: 1rem 2rem 1rem 2rem;
	color: #721c24;
	background-color: #f8d7da;
	border: 1/16rem solid #f5c6cb;
	border-radius: 0.25rem;
}
