.App {
  text-align: center;
  background-color: rgb(47, 79, 79);
  color: aliceblue;
  font-size: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
	height:100vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
}

.center-column {
	height:100vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
  gap: 0.625rem;
}

h2 {
  padding: 1.25rem;
  margin: 0rem;
}

form {
  width: 20rem;
}

.wb-btn {
  width: 20rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background: rgba(255,255,255,0.3);
  border: 0.0625rem solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 1rem;
  font-weight: 550;
  padding: 0.625rem;
}

.wb-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.wb-input {
  width: 100%;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 0.5rem;
  background: transparent;
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom:0.625rem;
}

.wb-input:focus {
	outline: none;
  border-color: rgba(255,255,255,0.85);;
}

::placeholder {
   color: rgba(255,255,255,0.35);
}
