.App {
  text-align: center;
  background-color: darkslategray;
  color: aliceblue;
  font-size: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
	height:100vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
}

.center-column {
	height:100vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
	gap: 0.625rem;
}

/* .wb-alert-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.75rem auto;
}

.wb-error {
	font-size: 1rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	color: #721c24;
	background-color: #f8d7da;
	border: 1/16rem solid #f5c6cb;
	border-radius: 0.25rem;
	margin: 0.75rem auto;
}

.wb-success {
	font-size: 1rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	color: #155724;
	background-color: #d4edda;
	border: 1/16rem solid #c3e6cb;
	border-radius: 0.25rem;
	margin-bottom: 0.75rem auto;
} */
