.wb-home-logo {
	width: 6rem;
	height: 6rem;
	transition: transform 2s;
}

.wb-home-logo:hover {
	transform: scale(2) rotate(360deg);
}

.wb-home-title {
	margin-top: 5rem;
	justify-content: center;
	font-size: 4rem;
}

