* {
	box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

