.wb-layout-logo {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 4rem;
	height: 4rem;
	margin: 1.25rem;
}

.wb-layout-outlet{
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
