.wb-form {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	width: 18.75rem;
	margin: 1.25rem auto;
}

input {
	padding: 0.625rem;
	font-size: 1rem;
}

.wb-error-box {
	margin-top: 1rem;
	color: red;
	font-size: 1rem;
}
