.wb-navbar-container {
	display: flex;
	justify-content: space-between;
}

.wb-navbar-button {
	display: flex;
	cursor: pointer;
	width: 2.4rem;
	height: 2.4rem;
	background: rgba(255,255,255,0.1);
	border: none;
	border-radius: 0.5rem;
	margin: 1.2rem;
}

.wb-navbar-button:hover {
	background: rgba(255,255,255,0.3);
}

.wb-hamburger {
	margin:auto;
	width: 1.2rem;
	height: 1.2rem;
}

.wb-navbar-window {
	background: rgba(255,255,255,0.05);
	width: 10rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.wb-navbar-link {
	display: flex;
	flex-direction: column;
}

.wb-navbar-single-link {
	color: white;
	text-decoration: none;
	margin: 0.625rem;
	background: transparent;
}

.wb-navbar-single-link:focus {
	background: rgba(255,255,255,0.1);
	border-radius: 0.5rem;
	padding: 0.625rem;
}

.wb-navbar-single-link:hover {
	background: rgba(255,255,255,0.1);
	border-radius: 0.5rem;
	padding: 0.625rem;
}
