.wb-profile-container {
	position: relative;
}

.wb-profile-info {
	font-size: 1rem;
}

.accordion {
	margin-top: 5rem;
	width: 100%;
	padding: 0.625rem;
	border-bottom: 0.1rem solid white;
}

.accordion-title {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	cursor: pointer;
	padding: 1rem;
}

.wb-profile-arrow {
	width: 3rem;
	height: 3rem;
}

.accordion-arrow {
	transition: transform 0.5s;
}

.accordion-arrow.active {
	transform: rotate(180deg);
}

.accordion-content {
	max-height: 0;
	transition: max-height 0.2s ease-out;
	overflow: hidden;
}

.accordion-content.active {
	max-height: 15rem;
}

.wb-profile-update {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
}
