form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.625rem;
}

.wb-profile-container {
	width: 40rem;
	margin: 0.75rem auto;
}

input {
	padding: 0.625rem;
	font-size: 1rem;
	margin: auto;
}

button {
	padding: 0.625rem;
	font-size: 1rem;
}

.wb-profile-update-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.625rem;
}

.wb-update-input {
	width: 18.75rem;
}

.wb-btn-submit {
	width: 10rem;
	margin: auto;
}

.wb-btn-logout{
	width: 10rem;
	margin: auto;
}
