input {
	padding: 0.625rem;
	font-size: 1rem;
}

button {
	padding: 0.625rem;
	font-size: 1rem;
}

.wb-update-box {
	display: flex;
	justify-content: center;
	gap: 0.625rem;
}

.wb-update-box-input {
	width: 18.75rem;
}

.wb-btn-submit {
	margin-left: 1rem;
	width: 6rem;
}

.wb-error-box {
	color: red;
	font-size: 1rem;
	padding: 1rem;
	border-style: solid;
	border-radius: 5px;
	background: rgba(255, 0, 0, 0.2);
}

.wb-error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wb-btn-logout{
	margin: 1.25rem auto;
	width: 10rem;
}
