input {
	padding: 0.625rem;
	font-size: 1rem;
}

button {
	padding: 0.625rem;
	font-size: 1rem;
}

.wb-update {
	display: flex;
	justify-content: center;
	gap: 0.625rem;
}

.wb-update-input {
	width: 18.75rem;
}

.wb-btn-submit {
	margin-left: 1rem;
	width: 6rem;
}

.wb-btn-logout{
	margin: 0.75rem auto;
	width: 10rem;
}
