.wb-profile-container {
	position: relative;
}

.wb-profile-info {
	font-size: 1rem;
}

.accordion {
	width: 100%;
	height: 10rem;
	padding: 1.25rem;
	margin: 2rem auto;
}

.accordion-title {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	cursor: pointer;
	border-bottom: 0.1rem solid white;
	padding: 1rem;
}

.accordion-title:hover {
	color: rgba(255, 255, 255, 0.8);
}

.accordion-content {
	padding: 1rem;
}
