.wb-projects-list {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: row;
  gap: 0.625rem;
}

@media (max-width: 768px) {
	.center {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding-top: 1rem;
	}
}

