.wb-projects-container {
	width: 40rem;
	margin: 0.75rem auto;
}

@media (max-width: 768px) {
	.center {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding-top: 1rem;
	}
}

