/* .wb-project-card-container {
	width: 10rem;
	height: auto;
	border-radius: 0.4rem;
	box-shadow: 5px 5px 15px #e1e1e3;
	background-color: white;
}

.wb-project-card-logo {
	height: 5rem;
	width: 10rem;
	border-radius: 0.4rem 0.4rem 0rem 0rem;
}

.wb-project-card-header {
	margin:0px;
	font-size:1.4em;
	font-weight:700;
}

.wb-project-card-p {
	font-size:12px;
	padding: 0 0.626rem 0.626rem 0.626rem;
} */

body {
	background-color:#f2f2f2;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

h5 {
	margin: 0rem;
	font-size: 1.4rem;
	font-weight: 700;
}

p {
	font-size: 0.75rem;
}

.property-card {
	height: 18rem;
	width: 14rem;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15);
}

.property-image {
	height: 6rem;
	width: 14rem;
	padding: 1rem 2rem;
	position: absolute;
	top: 0rem;
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-description {
	/* background-color: #FAFAFC; */
	background-color: darkslategray;
	height: 12rem;
	width: 14rem;
	position: absolute;
	bottom: 0rem;
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	padding: 0.5rem 1rem;
	text-align: center;
}

.property-card:hover .property-description {
	height: 0rem;
	padding: 0rem 1rem;
}

.property-card:hover .property-image {
	height:18rem;
}
