.wb-register-container {
	width: 20rem;
	margin: 0.75rem auto;
}

.wb-form {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

input {
	padding: 0.625rem;
	font-size: 1rem;
}

.wb-register-btn-submit {
	width: 10rem;
	margin: auto;
}
